/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #12c2e9, #c471ed, #f64f59);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.7rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.error-parrafo {
  font-size: 1.5rem;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-volver {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #f64f59;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 15px;
}

.btn-volver:hover {
  color: #f64f59;
  background: #ffffff;
  transform: translateY(-15px);
}
